.dropdown-menu .dropdown-item{
    color: black;
}
.dropdown-menu .nav-link:hover{
    color: brown;
}
@media screen and (max-width: 780px){
    .nav-item{
        display: none;
    }
    .nav-toggle{
        display: block;
    }

}
@media screen and (max-width: 768px){

}